/* CSS Reset: http://meyerweb.com/eric/tools/css/reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Styles for LaTeX equations in Markdown */
.math-display,
.katex-display,
p > span.math.math-display,
.math-display {
  display: block;
  text-align: center;
  margin: 0.5em 0;  /* Reduced margin for top and bottom */
  overflow-x: auto;
  font-size: 0.9em;  /* Smaller font size for equations */
  font-style: italic;  /* Italicize the font */
  color: #2c3e50;  /* Darker color for better visibility */
}



/* Add space before and after equations */
p + .math-display,
p + .katex-display,
p + p > span.math.math-display,
p + div.math.math-display,
.math-display + p,
.katex-display + p,
p > span.math.math-display + p,
div.math.math-display + p {
  margin-top: 1em;
}

/* Ensure inline math is properly sized and italicized */
.math-inline,
.katex-inline,
span.math.math-inline {
  vertical-align: middle;
  font-size: 0.8em;  /* Smaller font size for inline equations */
  font-style: italic;  /* Italicize the font */
  color: #333;  /* Optional: Adjust text color */
}

/* Optional: Adjust the color for better contrast */
.math-display, .katex-display, .math-inline, .katex-inline {
  color: #2c3e50;  /* Darker color for better visibility */
}
/**************************************************/

#body{
  font-family: 'Asap', roboto, sans-serif;
  font-size: 1em;
  line-height: 1.8em;
  color: #150c21;
}

#main {
  width: 54em;
  margin: 0px auto;
  position: relative;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: rgb(20, 110, 190);
}

a:hover {
  text-decoration: none;
  border-bottom: 1px solid rgb(20, 110, 190);
}

i {
  font-style: italic;
}

b {
  font-weight: 700;
}

h1 {
  font-size: 2.4em;
  line-height: 2.5em;
  font-weight: 500;
}
h1-post {
  font-size: 2.4em;
  line-height: 4em;
  font-weight: 500;
  color: #150c21;
}

/**************************************************/
/* Profile image and description. */

#intro {
  padding-top: 6em;
  display: flex;
}

#intro-text {
  width: 40em;
  float: left;
}

#intro-image {
  margin: 2em 0 0 2em;
  width: 12em;
  height: 12em;
  float: left;
  overflow: hidden;
  border-radius: 1em;
}

#intro-image img {
  width: 12em;
}

p {
  margin-bottom: 1.5em; /* This adds space after each paragraph */
}

/**************************************************/
/* Section buttons. */

#menu {
  display: flex;
}

.menu-item {
  float: left;
  margin-right: 2em;
}

h2 {
  font-size: 1.6em;
  line-height: 2.4em;
  margin-top: 0.5em;
  color: #0f1010;
}

.selected h2 {
  color: #150c21;
}

.button {
  display: inline-block;
  cursor: pointer;
  border: none;
  background: none;
  color: #a0a8b0;
  font-size: 1.6em;
  line-height: 2.4em;
  margin-top: 0.5em;
  margin-right: 1em;
  float: left;
  padding: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.button:hover {
  color: #150c21;
}

.button:active,
.button.is-checked {
  color: #150c21;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

/**************************************************/
/* Isotope grid list of items. */

.grid {
  padding-bottom: 6em;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.description {
  margin-bottom: 1em;
}

.list-item {
  width: 100%;
  line-height: 1em;
  margin-top: 1em;
}

.list-item p.date {
  display: inline-block;
  width: 3em;
  color: #a0a8b0;
}

/**************************************************/
/* Gallery of 3 preview videos. */

.previews {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  height: 12.5em;
}

.previews video {
  border-radius: 5px;
}

.previews a:hover {
  border: none;
}

.preview1 {
  grid-column: 1;
  width: 100%;
}
.preview2 {
  grid-column: 2;
  width: 100%;
}
.preview3 {
  grid-column: 3;
  width: 100%;
}


/* General styling for code blocks */
pre code {
  display: block;
  padding: 1em;
  background: #f5f4f4;
  color: #111110;
  border-radius: 5px;
  overflow: auto;
  font-size: 14px;
  line-height: 1.5;
}
/* Specific token styles */
pre code .comment { color: #75715e; font-style: italic; }
pre code .keyword { color: #66d9ef; }
pre code .builtin { color: #a6e22e; }
pre code .string { color: #e6db74; }
pre code .number { color: #ae81ff; }
pre code .operator { color: #f92672; }
pre code .function { color: #a6e22e; }
pre code .class-name { color: #f8f8f2; font-weight: bold; }
pre code .constant { color: #ae81ff; }
pre code .variable { color: #f8f8f2; }

/* Line numbers */
pre code .line-numbers {
    position: relative;
    padding-left: 2.8em;
    counter-reset: line;
}

pre code .line-numbers-rows {
    position: absolute;
    left: 0;
    width: 2.5em;
    text-align: right;
    color: #3b3a32;
    user-select: none;
}

pre code .line-numbers-rows span {
    display: block;
    counter-increment: line;
}

pre code .line-numbers-rows span:before {
    content: counter(line);
}

/* Copy button styling */
.copy-button {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 0.8em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 10;
}

.copy-button:hover {
  background-color: #e6e6e6;
}

/**************************************************/
/* Buttons for showing more or less highlights. */

.toggle-button {
  margin-top: 2em;
}

.toggle-button a {
  color: #a0a8b0;
}

.toggle-button a:hover {
  color: rgb(20, 110, 190);
}

/**************************************************/
/* Publication details (thumbnail media, title, and description). */

.thumbnail {
/*  width: 21%;*/
  width: 18%;
  float: left;
  margin-right: 2%;
}

.thumbnail:hover {
  border-bottom: none;
}

.thumbnail img {
  margin-top: 0.4em;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.thumbnail video {
  margin-top: 0.4em;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

h3 {
  font-size: 1em;
  line-height: 1.5em;
}

h3 a {
  color: #150c21;
}

h3 a:hover {
  color: rgb(20, 110, 190);
}

.publication {
  margin-bottom: 0.5em;
}

.publication p {
  font-size: 1em;
  line-height: 1.5em;
  color: #a0a8b0;
}

.project-description {
  width: 80%;
  float: left;
}

/********* ECONOMICS DESCRIPTION**********/
.economics {
  margin-bottom: 0.5em;
}

.economics p {
  font-size: 1em;
  line-height: 1.5em;
  color: #a0a8b0;
}

.project-description {
  width: 80%;
  float: left;
}

.image-container {
  display: flex !important;
  justify-content: center;
  width: 100%;
}

.image-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;  /* Adds space between the figures */
  width: 100%;
}

figure {
  margin: 0;
  padding: 0;
  display: inline-block; /* Aligns the figure with the text */
  text-align: center;    /* Centers the caption */
  max-width: 100%;       /* Ensures the image does not overflow the container */
}

figcaption {
  font-size: 0.9em;      /* Adjust font size for the caption */
  color: #555;          /* Caption color */
  margin-top: 0.5em;    /* Space between the image and caption */
  line-height: 1.5em;   /* Line height for the caption text */
}
img {
  max-width: 100%;
  height: auto;
}


/**************************************************/
/* Subtle footer at the bottom of the page. */
/* Style for footnote superscript links */
.footnotes sup {
  font-size: 0.8em; /* Smaller font size for the superscript */
  color: #6c757d;  /* Gray color for the superscript link */
}

/* Style for the footnote section */
.footnotes {
  border-top: 1px solid #ddd; /* Border at the top of the footnotes */
  padding-top: 1em; /* Space above the footnotes */
  margin-top: 2em; /* Space below the main content */
}

/* Style for the footnote text */
.footnotes ol {
  list-style: none; /* Remove the default list style */
  padding-left: 0; /* Remove the left padding */
}

.footnotes li {
  margin-bottom: 0.5em; /* Space between footnotes */
  color: #6c757d; /* Gray color for the footnote text */
}

/* Style for the footnote links */
.footnotes a {
  color: #6c757d; /* Gray color for the footnote link */
  text-decoration: none; /* Remove underline from the link */
}

.footnotes a:hover {
  text-decoration: underline; /* Underline on hover */
  color: #5a6268; /* Slightly darker gray on hover */
}
