
<!DOCTYPE HTML>
<html>
  <head>
    <!-- Google analytics tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-STGLQW4BJX"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-STGLQW4BJX');
    </script>

    <!-- Title -->
    <title>Basavasagar Patil</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1000">

    <!-- Isotope JS -->
    {% if site.mathjax %}
    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    {% endif %}  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <!-- Lightweight client-side loader that feature-detects and load polyfills only when necessary -->
    <script src="https://cdn.jsdelivr.net/npm/@webcomponents/webcomponentsjs@2/webcomponents-loader.min.js"></script>

    <!-- Load the element definition -->
    <script
      type="module"
      src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@2/dist/zero-md.min.js"
    ></script>

    <!-- Custom Style -->
    <link rel="stylesheet" href="style.css">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
    </style>
    <style>
        .footnote-popup {
        display: none;
        position: absolute;
        background: #f9f9f9;
        border: 1px solid #ddd;
        padding: 10px;
        max-width: 300px;
        z-index: 1000;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }
    </style>

  </head>

  <body id="body">

    <div id="main">
      <div id="intro">
        <div id="intro-text">
          <h1>Basava<i>sagar</i></h1>
          <p>
            You most probably know me (or can refer me) by the name 'Sagar'.
            <br><br>
            I'm a Robotics Master's Student at <a href="https://robotics.umich.edu/">University of Michigan, Ann Arbor</a>.
            My research focuses on Robot Learning and Reinforcement Learning.
            <br><br>
            Previously, I was at <a href="https://www.inria.fr"> Inria</a> with <a href="https://www.scirei.net/">Chris Reinke</a> and <a href="https://eolrobotics.fr/"> Paul Aubin</a>,
            working on Learning for Low-Dimensional Inputs and Optimization of Large Battery Systems using Reinforcement Learning.

            <br><br>
            <br>
            <a href="https://github.com/bkpcoding">Github</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://scholar.google.com/citations?user=tV-esHoAAAAJ&hl=en&oi=sra">G. Scholar</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://www.goodreads.com/user/show/67192598-sagar"> Goodreads</a>
            <!-- <a href="https://www.linkedin.com/in/basavasagar-patil">LinkedIn</a>&nbsp;&nbsp;&nbsp;&nbsp;-->
            <a href="https://twitter.com/basavasagar18">Twitter</a>
            <br><br>
            bpatil at umich dot edu
            <br><br>
          </p>
        </div>
        <!--
        <div id="intro-image">
          <img src="images/profile_photo_crop.png">
        </div>
      -->
      </div>

      <div id="filters" class="button-group">
        <!-- <button class="button" data-filter="*">Show All</button> -->
        <button class="button is-checked" data-filter=".publication">Publications</button>
        <button class="button" data-filter=".blogs">Blogs</button>
        <!--
        <button class="button" data-filter=".economics">Economics</button>
        <button class="button" data-filter=".random">Random Thoughts</button>
      -->
      </div>

      <div class="grid">

        <!-- Publications -->
        <div class="list-item publication description" data-category="publication">
          Selected Publications:
        </div>

        <!-- Preview Videos 
        <div class="list-item highlight previews" data-category="highlight">

          <a href="https://palm-e.github.io/"><video class="preview1" playsinline="" muted="" autoplay="" loop=""><source src="images/video-palm-e.mp4" type="video/mp4"></video></a>

          <a href="https://say-can.github.io/"><video class="preview2" playsinline="" muted="" autoplay="" loop=""><source src="images/video-saycan.mp4" type="video/mp4"></video></a>

          <a href="https://tossingbot.cs.princeton.edu/"><video class="preview3" playsinline="" muted="" autoplay="" loop=""><source src="images/video-tossingbot-crop.mp4" type="video/mp4"></video></a>

        </div>
        -->

        <!-- Truncated Set of Highlights (Shown by Default) -->
        <div id="main-highlights">

          <div class="list-item publication" data-category="publication">
            <a href="http://arxiv.org/abs/2311.16148">Univariate Radial Basis Function Layers: Brain-inspired Deep Neural Layers for Low-Dimensional Inputs</a>  
          </div>

        </div>

        <!-- All Archived Highlights (Click to Show) -->
        <!--
          <div id="more-highlights" style="display: None">


          </div>
        -->
        <!-- Toggle highlights button. -->
        <div class="list-item highlight toggle-button" data-category="highlight">
          <a id="toggle_highlights_button" href="javascript:toggle_highlights()">Show more</a>
        </div>

      <!-- Blog Posts-->
      <div class="list-item blogs data-category="blogs">
        <a href="{% post_url 2024-07-10-train_ebms %}">Training Methods for EBMs</a>
        </div>
      </div>


      <div id="footer">Inspired by <a href="https://jonbarron.info/">Jon's website</a>.</div>

    </div>

    
    <script>
        <div id="footnote-popup" class="footnote-popup"></div>
        document.addEventListener('DOMContentLoaded', function() {
            var footnoteLinks = document.querySelectorAll('a.footnote');
            var popup = document.getElementById('footnote-popup');

            footnoteLinks.forEach(function(link) {
            link.addEventListener('mouseover', function(e) {
                var footnoteId = this.getAttribute('href').substring(1);
                var footnoteContent = document.getElementById(footnoteId).innerHTML;
                popup.innerHTML = footnoteContent;
                popup.style.display = 'block';
                popup.style.left = e.pageX + 'px';
                popup.style.top = (e.pageY + 20) + 'px';
            });

            link.addEventListener('mouseout', function() {
                popup.style.display = 'none';
            });
            });
        });

      // Isotope grid.
      var $grid = $('.grid').isotope({
        itemSelector: '.list-item',
        layoutMode: 'fitRows',
        transitionDuration: 0,
        stagger: 10,
        initLayout: false,
        getSortData: {
          name: '.name',
          symbol: '.symbol',
          number: '.number parseInt',
          category: '[data-category]',
          weight: function( itemElem ) {
            var weight = $( itemElem ).find('.weight').text();
            return parseFloat( weight.replace( /[\(\)]/g, '') );
          }
        }
      });

      // Bind filter button click.
      $('#filters').on( 'click', 'button', function() {
        var filterValue = $( this ).attr('data-filter');
        localStorage.setItem('filterValue', filterValue);
        $grid.isotope({ filter: filterValue });
      });

      // Change is-checked class on buttons.
      $('.button-group').each( function( i, buttonGroup ) {
        var $buttonGroup = $( buttonGroup );
        $buttonGroup.on( 'click', 'button', function() {
          $buttonGroup.find('.is-checked').removeClass('is-checked');
          $( this ).addClass('is-checked');
        });
      });

      function update_isotope() {
        // Retrieve cached button click.
        var defaultFilterValue = localStorage.getItem('filterValue');
        if (defaultFilterValue == null) {
          defaultFilterValue = ".highlight"
        }
        $grid.isotope({ filter: defaultFilterValue });
        var buttons = document.getElementsByClassName("button");
        for (var currButton of buttons) {
          if (currButton.getAttribute('data-filter') == defaultFilterValue) {
            currButton.classList.add('is-checked');
          } else {
            currButton.classList.remove('is-checked');
          }
        }
      }

      function toggle_bio() {
        var x = document.getElementById("more-bio");
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
      }

      function toggle_highlights() {
        var x = document.getElementById("main-highlights");
        var y = document.getElementById("more-highlights");
        var b = document.getElementById("toggle_highlights_button")
        if (y.style.display === "none") {
          x.style.display = "none";
          y.style.display = "block";
          b.innerHTML = "Show less"
          update_isotope();
        } else {
          x.style.display = "block";
          y.style.display = "none";
          b.innerHTML = "Show more"
          update_isotope();
        }
      }

      update_isotope();

    </script>
  </body>
</html>
