<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Move the title to the centre-->
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "../style.css" | relative_url }}">
  <link href="https://fonts.googleapis.com/css?family=Asap:400,700&display=swap" rel="stylesheet">
  
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        processEscapes: true
      }
    });
  </script>  
  <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>
<body id="body">
  <nav>
    <a href="{{ site.url }}">Back to Home</a>
  </nav>
  <div id="main">
    <div class="post">
      <header class="post-header">
        <!-- Move the title to the centre-->
        <h1-post>{{ page.title }}</h1-post>
        <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
      </header>

      <article class="post-content">
        {{ content }}
      </article>
    </div>
    <footer id="footer">
      © {{ site.time | date: "%Y" }} {{ site.title }}. All rights reserved.
    </footer>
  </div>
  <script src="../../../../code-copy-script.js"></script>
  <script src="../../../../js/footnote-popup.js"></script>
</body>
</html>
